
singularity {
  enabled    = true
  autoMounts = true
  runOptions = "--bind /mnt:/mnt --bind /data:/data"
}

process {
  withLabel: 'bcftools' { container = 'bcftools.1.19' }
  withLabel: 'vep'      { container = 'ensembl-vep-110' }
}

params {
  // Default params
  species   = 'homo_sapiens'
  assembly  = 'GRCh38'
  chunk     = 100
  limit     = 300
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile
  test {
    params {
      cohort_info = "input/cohort_info.csv"
      vep_cache   = "/data/reference-data/Ensembl/110"
      vep_version = "110"
      fasta       = "/data/reference-data/iGenomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
    }
  }
}
